<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edas.business.byrobot.dao.master.CompanyMapper">

  <resultMap id="BaseResultMap" type="com.edas.business.byrobot.entity.Company">
    <id column="id" jdbcType="INTEGER" property="id" />    
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  
  <sql id="Base_Column_List">
		id, company_id, company_name
	</sql>
	
</mapper>