<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.medcrm.yjb.his.omp.dao.DivisionRePositionMapper" >
  <resultMap id="BaseResultMap" type="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="divisionId" property="divisionId" jdbcType="VARCHAR" />
    <result column="positionId" property="positionId" jdbcType="VARCHAR" />
    <result column="employeeId" property="employeeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, divisionId, positionId, employeeId
  </sql>
  <select id="selectByEmployId" resultType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" parameterType="java.lang.String">
    SELECT
    id,divisionId,positionId,employeeId
    FROM hr_division_position
    WHERE employeeId LIKE '%${id}%'

  </select>
  <select id="selectByThreeId" resultMap="BaseResultMap" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition">
    SELECT
    <include refid="Base_Column_List"/>
    FROM hr_division_position
    WHERE divisionId = #{divisionId} AND positionId = #{positionId} AND employeeId LIKE '%${employeeId}%'
  </select>
  <update id="deleteEmployId" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition">
    UPDATE hr_division_position
    SET employeeId = #{employeeId}
    WHERE divisionId = #{divisionId} AND positionId = #{positionId}
  </update>
  <select id="countByDidAndPid"  resultType="int" parameterType="java.lang.String" >
    select
    count(*)
    from hr_division_position
    where divisionId = #{divisionId,jdbcType=VARCHAR} AND positionId = #{positionId,jdbcType=VARCHAR}
  </select>
  <select id="isNullofEmploy" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from hr_division_position
    where divisionId = #{divisionId,jdbcType=VARCHAR} AND positionId = #{positionId,jdbcType=VARCHAR} AND employeeId is NOT NULL ;
  </select>
  <select id="selectPositionsById" resultType="net.medcrm.yjb.his.omp.domain.DivisionRePosition">
    select
    <include refid="Base_Column_List" />
    FROM hr_division_position
    WHERE divisionId = #{id}
  </select>
  <select id="selectEmploysByDiviId" resultType="net.medcrm.yjb.his.omp.domain.DivisionRePosition">
    select DISTINCT employeeId
    from hr_division_position
    WHERE divisionId = #{id}

  </select>
  <select id="selectEmployIdByDiviId" resultType="java.lang.String">
    SELECT employeeId
    FROM hr_division_position
    WHERE divisionId = #{id} AND positionId = "1"
  </select>
  <delete id="deletePosiEmploy" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >
    delete from hr_division_position
    where divisionId = #{divisionId,jdbcType=VARCHAR} AND positionId = #{positionId,jdbcType=VARCHAR} AND employeeId = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >

    insert into hr_division_position (id, diviId, posiId,employId)
    values
    (#{id,jdbcType=VARCHAR}, #{divisionId,jdbcType=VARCHAR}, #{positionId,jdbcType=VARCHAR},#{employeeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >

    insert into hr_division_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="divisionId != null" >
        divisionId,
      </if>
      <if test="positionId != null" >
        positionId,
      </if>
      <if test="employeeId != null" >
        employeeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="divisionId != null" >
        #{divisionId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updatePosiEmploy" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >
    update hr_division_position
    set employeeId = #{employeeId,jdbcType=VARCHAR}
    where divisionId = #{divisionId,jdbcType=VARCHAR} AND positionId = #{positionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.medcrm.yjb.his.omp.domain.DivisionRePosition" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    update hr_division_position
    set diviId = #{diviId,jdbcType=VARCHAR},
      posiId = #{posiId,jdbcType=VARCHAR},
      employId = #{employId,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>