<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.medcrm.yjb.his.omp.dao.PositionMapper" >
  <resultMap id="BaseResultMap" type="net.medcrm.yjb.his.omp.domain.Position" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="exclusive" property="exclusive" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, exclusive, status,type
  </sql>
  <select id="selectLegalPositions" resultType="net.medcrm.yjb.his.omp.domain.Position"  >
    select
    <include refid="Base_Column_List" />
    from hr_position
    where type=1 AND exclusive=0 AND status=0
  </select>
  <select id="selectByType" resultType="net.medcrm.yjb.his.omp.domain.Position" parameterType="int">
    SELECT
    <include refid="Base_Column_List"/>
    FROM hr_position
    WHERE type = #{type} AND exclusive = #{exclusive} AND status = 0

  </select>
  <select id="selectPositions" resultType="net.medcrm.yjb.his.omp.domain.Position"  >
    select
    <include refid="Base_Column_List" />
    from hr_position
    where type=#{type} AND exclusive=0 AND status=0
  </select>
  <select id="selectNameById" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT name
    FROM hr_position
       WHERE id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    delete from hr_position
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.medcrm.yjb.his.omp.domain.Position" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    insert into hr_position (id, name, exclusive, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{exclusive,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.medcrm.yjb.his.omp.domain.Position" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    insert into hr_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="exclusive != null" >
        exclusive,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="exclusive != null" >
        #{exclusive,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.medcrm.yjb.his.omp.domain.Position" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    update hr_position
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="exclusive != null" >
        exclusive = #{exclusive,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.medcrm.yjb.his.omp.domain.Position" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Oct 24 14:36:26 CST 2017.
    -->
    update hr_position
    set name = #{name,jdbcType=VARCHAR},
      exclusive = #{exclusive,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>