<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.medcrm.yjb.workflow.mapper.DelegateInfoMapper">
	<!-- 数据库中的字段和实体类中的字段不符，使用此方式映射 -->
	<resultMap id="BaseResultMap" type="net.medcrm.yjb.workflow.domain.DelegateInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="assignee" property="assignee" jdbcType="VARCHAR" />
		<result column="attorney" property="attorney" />
		<result column="startTime" property="start_time" />
		<result column="endTime" property="end_time" />
		<result column="processDefinitionId" property="process_definition_id" />
		<result column="status" property="status" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
		select * from act_ru_delegate where ID = #{id}
	</select>
	<!-- 新增 -->
	<!-- keyProperty="id" useGeneratedKeys="true" 设置主键自生长orcale除外 -->
	<insert id="insert" parameterType="net.medcrm.yjb.workflow.domain.DelegateHistory"
		keyProperty="id" useGeneratedKeys="true">
		insert into act_ru_delegate (id,assignee,attorney, start_time,end_time,process_definition_id,status)
		values (#{id},#{assignee},#{attorney},#{startTime},#{endTime},#{processDefinitionId},#{status})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="net.medcrm.yjb.workflow.domain.DelegateHistory" >
	    update act_ru_delegate
	    <set >
	      <if test="assignee != null" >
	        assignee = #{assignee,jdbcType=VARCHAR},
	      </if>
	      <if test="attorney != null" >
	        attorney = #{attorney,jdbcType=VARCHAR},
	      </if>
	      <if test="startTime != null" >
	        start_time = #{startTime},
	      </if>
	      <if test="endTime != null" >
	        end_time = #{endTime},
	      </if>
	      <if test="processDefinitionId != null" >
	        process_definition_id = #{processDefinitionId},
	      </if>
	      <if test="status != null" >
	        status = #{status},
	      </if>
	    </set>
	    where id = #{id}
  </update>
  
  	<select id="selectAll" parameterType="map" resultMap="BaseResultMap">
		select * from act_ru_delegate d where  d.status=1 and d.assignee=#{assignee} order by id desc
	</select>
	
</mapper>